@{
    ViewBag.Title = "App Image Generator";
}
<div class="pwa-generator">
    <header class="pwa-generator-header">
        App Image Generator
    </header>

    <p class="pwa-generator-info">
        Quickly and easily create app icons for various platforms in the right size and format
    </p>
</div>
