<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifold JS</title>
    <meta content="@ViewBag.Description" name="Description" />
    <meta content="@ViewBag.Keywords" name="Keywords" />

    <link href="~/Content/manifoldjs-vendor.min.css" rel="stylesheet" />
    <link href="~/Content/manifoldjs-site.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body class="ember-application">

    <script src="//www.google-analytics.com/analytics.js" async=""></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62394130-1', 'auto');
      ga('send', 'pageview');

      function _gaLt(event){
        var el = event.srcElement || event.target;

        /* Loop up the DOM tree through parent elements if clicked element is not a link (eg: an image inside a link) */
        while(el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)){
            el = el.parentNode;
        }

        if(el && el.href){
            /* link */
            var link = el.href;
            if(link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)){ /* external link */
                /* HitCallback function to either open link in either same or new window */
                var hitBack = function(link, target){
                    target ? window.open(link, target) : window.location.href = link;
                };
                /* Is target set and not _(self|parent|top)? */
                var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
                /* send event with callback */
                ga(
                    "send", "event", "Outgoing Links", link,
                    document.location.pathname + document.location.search,
                    {"hitCallback": hitBack(link, target)}
                );

                /* Prevent standard click */
                event.preventDefault ? event.preventDefault() : event.returnValue = !1;
            }

        }
    }

    /* Attach the event to all clicks in the document after page has loaded */
    var w = window;
    w.addEventListener ? w.addEventListener("load",function(){document.body.addEventListener("click",_gaLt,!1)},!1)
     : w.attachEvent && w.attachEvent("onload",function(){document.body.attachEvent("onclick",_gaLt)});

    </script>

    <div class="ember-view application no-header" id="ember339">
        <header class="l-full-width" id="header">
            <div class="l-max-width">
                <a class="ember-view" id="ember349" href="/"><img class="nav_logo" src="/Content/images/manifoldjs_top_logo.svg"></a>
                <nav>
                    <ul>
                        <li><a class="ember-view event" id="ember350" href="/generator" data-eventname="generator-cta-header">Generate</a></li>
                        <li><a class="ember-view" id="ember351" href="/deploy">Deploy</a></li>
                        <li><a class="ember-view" id="ember352" href="/documentation">Documentation</a></li>
                        <li><a class="ember-view active" id="ember353" href="/">App Image Generator</a></li>
                        <li><a href="https://github.com/manifoldjs" target="_blank">Github</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <article class="l-app-style l-full-width" id="main">
            @RenderBody()
        </article>

        <footer class="l-full-width" id="footer">
            <div class="l-max-width">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-5">
                        <ul>
                            <li><a class="ember-view" id="ember359" href="/generator">Generate</a></li>
                            <li><a class="ember-view" id="ember360" href="/deploy">Deploy</a></li>
                            <li><a class="ember-view" id="ember361" href="/documentation">Documentation</a></li>
                        </ul>
                    </div>
                    <div class="pure-u-1 pure-u-md-2-5">
                        <ul>
                            <li><a class="ember-view active" id="ember362" href="/">App Image Generator</a></li>
                            <li><a href="https://github.com/manifoldjs" target="_blank">Github</a></li>
                        </ul>
                    </div>
                    <div class="pure-u-1 pure-u-md-2-5">
                        <div class="social">
                            <a href="https://twitter.com/boyofgreen" target="_blank"><img class="logo_twitter" src="/Content/images/logo_twitter.svg"></a>
                            <a href="https://github.com/manifoldjs" target="_blank"><img class="logo_github" src="/Content/images/logo_github.svg"></a>
                            <a href="https://www.npmjs.com/package/manifoldjs" target="_blank"><img class="logo_npm" src="/Content/images/logo_npm.svg"></a>
                            <a href="http://stackoverflow.com/questions/tagged/manifoldjs" target="_blank"><img class="logo_stackoverflow" src="/Content/images/logo_stackoverflow.svg"></a>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-1 copyright">
                        © 2016 ManifoldJS. All rights reserved. <span class="divider">|</span> <a class="ember-view" id="ember363" href="/license">License</a>
                    </div>
                </div>
                <div class="pure-g simple-content">
                    <div class="pure-u-1 pure-u-md-1-2 copyright">
                        © 2016 ManifoldJS. All rights reserved. <span class="divider">|</span> <a class="ember-view" id="ember364" href="/license">License</a>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div class="social">
                            <a href="https://twitter.com/boyofgreen" target="_blank"><img class="logo_twitter" src="/Content/images/logo_twitter.svg"></a>
                            <a href="https://github.com/manifoldjs" target="_blank"><img class="logo_github" src="/Content/images/logo_github.svg"></a>
                            <a href="https://www.npmjs.com/package/manifoldjs" target="_blank"><img class="logo_npm" src="/Content/images/logo_npm.svg"></a>
                            <a href="http://stackoverflow.com/questions/tagged/manifoldjs" target="_blank"><img class="logo_stackoverflow" src="/Content/images/logo_stackoverflow.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!--JS-->
    <script src="~/Scripts/manifoldjs-vendor.min.js"></script>
    <script src="~/Scripts/tools.js"></script>
</body>

</html>
