@{
    ViewBag.Title = "App Image Generator";
}
<div class="pure-g l-max-width">
    <section class="pure-u-1 pure-u-md-4-4 l-bottom summary">
        <div class="page-intro">
            <h1 class="title">App Image Generator</h1>
            <p>Quickly and easily create app icons for various platforms in the right size and format</p>
        </div>

        <form id="imageFileInputForm" enctype="multipart/form-data" role="form">
            <div class="pure-g generator" id="builder_holder">
                <div class="pure-u-1 generator-section form-holder">
                    <ol class="generator-step-list">
                        <li class="step step--enabled">
                            <div class="step-wrapper">
                                <header class="step-header">
                                    <h2 class="title">Image Details</h2>
                                </header>
                                <div class="form-body">
                                    <p class="instructions">Specify the image details below.</p>
                                    <div class="form-item">
                                        <label>Input Image</label>
                                        <div class="uploadControl">
                                            <input id="fileName" type="text" disabled="disabled" class="upload-file" placeholder="Choose File">
                                            <div class="fileUpload btn">
                                                <span>Browse</span>
                                                <input class="upload" type="file" name="fileInput" id="fileInput">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <label>Padding</label>
                                        <input type="text" name="padding" id="paddingInput" value="0.3" min="0.0" max="1.0" step="0.05">
                                    </div>
                                    <div class="form-item">
                                        <label>Background Color</label>
                                        <input type="color" class="background-color" name="background-color" id="background-color">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="step step--enabled">
                            <div class="step-wrapper">
                                <header class="step-header">
                                    <h2 class="title">Platforms</h2>
                                </header>
                                <div class="form-body" style="display:none;" >
                                    <p class="instructions">Select the platforms to generate images for.</p>
                                    <div class="form-item checkbox">
                                        <label>windows10</label>
                                        <input type="checkbox" name="platform" value="windows10" checked>
                                    </div>
                                    <div class="form-item checkbox">
                                        <label>windows</label>
                                        <input type="checkbox" name="platform" value="windows" checked>
                                    </div>
                                    <div class="form-item checkbox">
                                        <label>android</label>
                                        <input type="checkbox" name="platform" value="android" checked>
                                    </div>
                                    <div class="form-item checkbox">
                                        <label>ios</label>
                                        <input type="checkbox" name="platform" value="ios" checked>
                                    </div>
                                    <div class="form-item checkbox">
                                        <label>chrome</label>
                                        <input type="checkbox" name="platform" value="chrome" checked>
                                    </div>
                                    <div class="form-item checkbox">
                                        <label>firefox</label>
                                        <input type="checkbox" name="platform" value="firefox" checked>
                                    </div>
                                    <div class="button-holder">
                                        <button class="button" id="selectPlatforms">Select/Clear All</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <div class="step">
                        <div class="button-holder">
                            <p>
                                <span class="button-holder download-archive">
                                    <button class="btn build" type="submit" id="downloadButton" disabled="disabled">
                                        Download
                                        <!---->
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                    <!---->
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
