.generator label {
    width: 15%;
}

.generator .inputControl, .generator .uploadControl {
    width: 80%;
    float: right;
    padding: 0px;
    margin: 0px;
}

.generator input:not([type=checkbox]) {
    padding: 0px;
    float: none;
    margin-left: -2px;
    width: 100%;
}

.generator .upload-file {
    width: 70% !important;
    min-width: 30%;
    float: left !important;
    margin-left: -2px;
}

.generator .fileUpload.btn {
    line-height: 1.5em !important;
}

.generator .background-color {
    padding: 0px;
}

.generator .generator-section {
    overflow-y: auto;
}

.generator .button-holder.download-archive {
    margin-left: 0px;
    margin-right: 0px;
}