.generator label {
    width: 15%;
}

.generator input:not([type=checkbox]), .generator .uploadControl {
    width: 80%;
    padding: 0px;
}

.generator .uploadControl {
    float: right;
}

.generator .upload-file {
    width: 70% !important;
    min-width: 30%;
    float: left !important;
    margin-left: -2px;
}

.generator .fileUpload.btn {
    line-height: 1.5em !important;
}

.generator .background-color {
    padding: 0px;
}

.generator .generator-section {
    overflow-y: auto;
}

.generator .button-holder.download-archive {
    margin-left: 0px;
    margin-right: 0px;
}