<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWABuilder</title>
    <meta name="description" content="All the tools you need to build and deploy your Progressive Web Apps.">
    <meta name="application-name" content="Progressive Web Apps Builder">

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>
    @RenderBody()
</body>

</html>